<div class="container-fluid centrar">
<div class="row mt-4">
    <div class="col-12">
        <h1 class="grotesk cafe titulo-1">MATRIMONIO</h1>
        <h2 class="bludhaven titulo-2">Paula y Juan Pablo</h2>
    </div>
    <div class="col-12">
    <nav class="">
        <ul class="grotesk flex centrar-f lista-menu cafe">
            <li><a routerLink="informacion" routerLinkActive="active-link">Información</a> </li>
            <li ><a routerLink="dresscode" routerLinkActive="active-link">Dress Coode</a> </li>
            <li><a routerLink="confirmar" routerLinkActive="active-link">Confirmar</a> </li>
            <li><a routerLink="video" routerLinkActive="active-link">Video</a> </li>
        </ul>
    </nav>
    </div>
</div>
</div>
