<div class="container mt-5">
    <div class="row">
        <div class="col-6 centrar">
            <div class="contenedor-img centrar">
                <img src="../../assets/imgs/mujer-1.jpeg" alt="">
                <button class="ejemplo grotesk">EJEMPLOS</button>
            </div>
       
        </div>
        <div class="col-6 centrar">
            <div class="contenedor-img">
                <img src="../../assets/imgs//hombre-1.jpeg" alt="">
                <button class="ejemplo grotesk">EJEMPLOS</button>
            </div>

        </div>
      
    </div>
    <div class="row">
        <div class="col-12 centrar mt-3 bludhaven cafe">
            <p class="f-32">*Se reserva el uso del blanco y el terracota</p>
        </div>
    </div>
</div>