<div class="container">
    <div class="row centrar">
        <div class="col-12 flex centrar-f h-100 mt-5">
            <div class="invitacion bludhaven">
            <p>Sábado 24 de Febrero de 2024</p>
            <p>Casa Aragón</p>
            <p>El Rosal, Cundinamarca</p>
            <button><a href="https://maps.app.goo.gl/vXTQxpwwujakU3jdA">Ubicación</a></button>
        </div>
        </div>
        <div class="col-12  mt-5"><img src="../../assets/imgs/sobre.png" alt="" class="img-peque flotar" ><p class="bludhaven cafe flotar f-20">Lluvia de sobres</p></div>
    </div>
</div>